// Variables
$bg-primary: #f33c3c;
$secondary-color: #6C7476;
$light-color: #fff;

// Animation & Transition Speed
$animation-speed: 0.3s;

// Amount of darkness/lightness of hover background
$fade-amount: 5;

// Overlay
$dark-overlay: rgba(0, 0, 0, 0.6);
$primary-overlay: rgba(243, 60, 60, 0.7);
$light-overlay: rgba($color: #fff, $alpha: 0.2);

// Social Media Colors
$linkedin-color: #0077B5;
$instagram-color: #E1306C;
$twitter-color: #1DA1F2;